@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* Fonts Form Google Font ::- https://fonts.google.com/ -:: */
/* End Fonts */
/* Start Global rules */

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
 * {
	 padding: 5px;
	 margin: 0;
	 box-sizing: border-box;
   text-shadow: 2px 2px 4px hsla(0, 0%, 44%, 0.021);
   border-radius: 12px;
   text-align: center;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-size: 1.5em;
  background-image: linear-gradient(-225deg, #5ed6b438 0%, #4e6cb323 60%);
  /* background-image: linear-gradient(to top, #2d2d2ed8 0%, #ffffffd7 100%); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Vibur', cursive;

  font-family: 'Abel', sans-serif;
  opacity: 0.95;



}


p {
  color: black;
}
