.menu-bar {
  border-radius: 25px;
  height: fit-content;
  display: inline-flex;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  margin: 40px 0 0 0;
  width: auto;
  border: 1px inset #ffffff;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
}
.menu-bar li {
  list-style: none;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: bold;
  padding: 20px 0px;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  font-size: 20px;
}
.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}
.menu-bar li:hover {
  color: rgb(255, 251, 251);
}
.menu-bar li:hover::before {
  background: linear-gradient(to bottom, #f7f7f7, #38a6aa);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}
.menu-bar a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(0, 0, 0);
}
